<script type="text/javascript">

   $(document).ready(function ()
         {
         var lis = $("#navmenu-v *");
         lis.mouseenter( function () { lis.removeClass("iehover"); });


         lis.filter("a").each(function (index,elem) {
            if (elem.href === document.URL)
            {
            var temp = $(elem).parent();

            while ($(temp).attr('id') != "navmenu-v") {

            $(temp).addClass("iehover");
            temp = $(temp).parent();
            }


            }


            });
         });
      
      </script>

<ul id="navmenu-v"> 
   <li><a href="{{BASE_URL}}index.html">Home</a></li> 

   <li><a href="{{BASE_URL}}about2429/first.html">About 2429</a>
   {% include "about2429/menuabout2429.html" %}
   </li>

      <li> <a> Competitions </a> 
   {% include "game/menugame.html" %}
   </li>
   <li><a href="{{BASE_URL}}about2429/spon.html">Sponsors</a></li> 
</ul> 
