#leftBar
{
   position: fixed;
   left: 0px;

   height: 100%;
   padding: 40px;
   border-right: 3px solid red;
}

.centered
{
   text-align: center;
}

h1 { font-family: 'Maven Pro', arial, serif; font-size: 3em;}

#content
{
   float: left;
   clear: left;
   font-size: 1em;
   margin-left: 290px;
   margin-right: 290px;
   margin-top: 20px;
}

body
{
   padding: 0px;
   margin: 0px;

   font: 20px Aria, sans-serif;
   color: red;
}

#rightBar
{
   position: fixed;
   right: 0px;

   height: 100%;
   padding: 40px;
   border-left: 3px solid red;
}
img {border: none;margin: 10px;}
#wrapper
{
}

#footer
{
   clear: both;
   border-bottom: 30px solid red;
   margin: 0px;
}

.menu
{
   list-style: none;
   text-align: center;
   display: block;
   padding: 0px;
}

.menu li
{
   padding-right: 0px;
   display: block;
   margin-top: 40px;
   margin-bottom: 40px;
}

.menu li a
{
   text-decoration: none;
   color: red;
}

.vertCenter
{
   display:table;
   height: 100%;
}

.vertCenter2
{
   /* position:absolute; top:50%; height: 10em; margin-top: -5em;*/

   vertical-align: middle;
   display: table-cell;
}

.vertCenter p
{
   padding-bottom: 50px;
}

.bold
{
   font-weight: bold;
   height: 100px;
   color: blue;
}
