
{% extends "base.html" %}

{% block head %}
{% include "menu.html" %}
{% endblock %}

{% block content %}
{% include "about2429/menuabout2429.html" %}

<div class="centered"><h1><font color="ff0000">Sponsors</font></h1></div>
<table>
<tr><td>
<img src="sponsers/spartan70.gif" width="300" alt=""><br>
<img src="sponsers/jpl[1]" width="300" alt=""><br>
<img src="sponsers/nasa.gif" width="300" alt=""><br>
<img src="sponsers/vmwd.gif" width="300" alt=""><br>
<img src="sponsers/IEEEblack.gif" width="300" alt=""><br>
<img src="sponsers/Spacex_logo_large.png" width="300" alt=""><br>
<img src="sponsers/ims.gif" width="300" alt=""><br>
</td><td>
<img src="sponsers/mtt_logo.gif" width="300" alt=""><br>
<img src="sponsers/socalgas.gif" width="300" alt=""><br>
<img src="sponsers/rop.gif" width="300" alt=""><br>
<img src="sponsers/tesla.gif" width="300" alt=""><br>
<img src="sponsers/mallcraft.png" width="300" alt=""><br>
</td></table>
{% endblock %}
