{% extends "base.html" %}

{% block head %}
{% include "menu.html" %}
{% endblock %}
{% block content %}
{% include "studio/menustudio.html" %}
<div class="centered">
<h1>Design Studio</h1>
Here you can find our desings and prototypes. That is, only the ones we released.<br>
<h2>The Bump!</h2>
<iframe width="425" height="349" src="http://www.youtube.com/embed/FIvEzy7KU8w?rel=0" frameborder="0"></iframe>
<!--
<img src="http://lcec.us/pics/DSC04947.JPG" height="400" alt="">
-->
</div>
{% endblock %}
